body {
  font-family: Muli;
}
.display-1 {
  font-family: 'FranxurterTotallyFat';
  font-size: 4.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.68rem;
}
.display-2 {
  font-family: 'Boldins';
  font-size: 3.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.12rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
}
.display-4 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-5 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.84rem;
    font-size: calc( 2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.7rem 2.7rem;
  border-radius: 35px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #dabda1 !important;
}
.bg-success {
  background-color: #e16389 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #f83d72 !important;
}
.bg-danger {
  background-color: #ffffff !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #dabda1 !important;
  border-color: #dabda1 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #e16389 !important;
  border-color: #e16389 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #e16389 !important;
  border-color: #e16389 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f83d72 !important;
  border-color: #f83d72 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #000000 !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #dabda1;
  color: #dabda1 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #dabda1;
  border-color: #dabda1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #dabda1 !important;
  border-color: #dabda1 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e16389;
  color: #e16389 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #e16389;
  border-color: #e16389;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #e16389;
  color: #e16389 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #e16389;
  border-color: #e16389;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e16389 !important;
  border-color: #e16389 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f83d72;
  color: #f83d72 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #f83d72;
  border-color: #f83d72;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f83d72 !important;
  border-color: #f83d72 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #333333;
  color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #dabda1 !important;
}
.text-secondary {
  color: #e16389 !important;
}
.text-success {
  color: #e16389 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #f83d72 !important;
}
.text-danger {
  color: #ffffff !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a,
a:hover {
  color: #ffffff;
  font-weight: 900;
  transition: 0.4s;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #dabda1 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #f83d72 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #e16389 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #f83d72 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f83d72 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ffffff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #1a1a1a !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #f83d72;
}
.alert-danger {
  background-color: #ffffff;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #dabda1;
  border-color: #dabda1;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  background: #dabda1;
}
#scrollToTop a:after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px dashed #dabda1;
  animation: spin_left 5s linear infinite;
  animation-play-state: paused;
}
#scrollToTop a:hover::after {
  animation-play-state: running;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.mbr-arrow {
  background-color: #444444;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #dabda1;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #dabda1;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #dabda1;
  border-bottom-color: #dabda1;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #dabda1 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e16389 !important;
  box-shadow: none !important;
}
.soc-item:hover::after {
  opacity: 1;
  visibility: visible;
  animation-play-state: running;
}
.soc-item::after {
  opacity: 0;
  transition: all .3s ease;
  position: absolute;
  content: '';
  height: calc(122%);
  width: calc(122%);
  border-width: 2px;
  box-sizing: border-box;
  border-style: dashed;
  top: -4px;
  left: -4px;
  border-radius: inherit;
  animation: spin_right 5s linear infinite;
  animation-play-state: paused;
}
@keyframes spin_right {
  0% {
    transform: rotate(-360deg);
  }
}
.line-bg-warning {
  background-size: 100% 0.521em;
  display: inline;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(to top, rgba(248, 61, 114, 0.5), rgba(248, 61, 114, 0.5));
  background-repeat: no-repeat;
  background-position: 0% 74%;
}
.line-bg-primary {
  display: inline;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(to top, rgba(218, 189, 161, 0.5), rgba(218, 189, 161, 0.5));
  background-size: 100% 0.521em;
  background-repeat: no-repeat;
  background-position: 0% 74%;
}
.cid-tVHXOlFlzz {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 70px;
}
.cid-tVHXOlFlzz nav.navbar {
  position: fixed;
}
.cid-tVHXOlFlzz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tVHXOlFlzz .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tVHXOlFlzz .dropdown-item:hover,
.cid-tVHXOlFlzz .dropdown-item:focus {
  color: #dabda1 !important;
}
.cid-tVHXOlFlzz .dropdown-item:hover span {
  color: white;
}
.cid-tVHXOlFlzz .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tVHXOlFlzz .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tVHXOlFlzz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tVHXOlFlzz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tVHXOlFlzz .nav-link {
  position: relative;
}
.cid-tVHXOlFlzz .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tVHXOlFlzz .container {
    flex-wrap: nowrap;
  }
}
.cid-tVHXOlFlzz .navbar-caption:hover,
.cid-tVHXOlFlzz .navbar-caption:focus {
  color: #dabda1 !important;
}
.cid-tVHXOlFlzz .navbar-nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(200%/3);
}
.cid-tVHXOlFlzz .navbar-nav .nav-item {
  color: #24262b;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item:hover {
  color: #dabda1;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item a.text-black {
  color: #24262b !important;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item a:hover {
  color: #dabda1 !important;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item .dropdown-menu {
  padding: 1.25rem 0 !important;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem !important;
}
.cid-tVHXOlFlzz .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover,
.cid-tVHXOlFlzz .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
  color: #dabda1 !important;
}
.cid-tVHXOlFlzz .dropdown-menu,
.cid-tVHXOlFlzz .navbar.opened {
  background: #ffffff !important;
}
.cid-tVHXOlFlzz .nav-item:focus,
.cid-tVHXOlFlzz .nav-link:focus {
  outline: none;
}
.cid-tVHXOlFlzz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tVHXOlFlzz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tVHXOlFlzz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tVHXOlFlzz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tVHXOlFlzz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tVHXOlFlzz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tVHXOlFlzz .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0 !important;
}
.cid-tVHXOlFlzz .navbar.opened {
  transition: all 0.3s;
}
.cid-tVHXOlFlzz .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tVHXOlFlzz .navbar .navbar-logo img {
  width: auto;
}
.cid-tVHXOlFlzz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tVHXOlFlzz .navbar.collapsed {
  justify-content: center;
}
.cid-tVHXOlFlzz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tVHXOlFlzz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tVHXOlFlzz .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.6rem);
  }
}
.cid-tVHXOlFlzz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tVHXOlFlzz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tVHXOlFlzz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tVHXOlFlzz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tVHXOlFlzz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tVHXOlFlzz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tVHXOlFlzz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tVHXOlFlzz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tVHXOlFlzz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tVHXOlFlzz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tVHXOlFlzz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tVHXOlFlzz .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tVHXOlFlzz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tVHXOlFlzz .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tVHXOlFlzz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tVHXOlFlzz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tVHXOlFlzz .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tVHXOlFlzz .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tVHXOlFlzz .navbar.navbar-short {
  min-height: 70px;
}
.cid-tVHXOlFlzz .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  width: 25%;
}
.cid-tVHXOlFlzz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tVHXOlFlzz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tVHXOlFlzz .dropdown-item.active,
.cid-tVHXOlFlzz .dropdown-item:active {
  background-color: transparent;
}
.cid-tVHXOlFlzz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tVHXOlFlzz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tVHXOlFlzz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tVHXOlFlzz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tVHXOlFlzz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tVHXOlFlzz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tVHXOlFlzz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tVHXOlFlzz .navbar-buttons {
  text-align: center;
  min-width: 170px;
  display: flex;
  justify-content: flex-end;
  width: calc(100%/3);
}
.cid-tVHXOlFlzz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tVHXOlFlzz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tVHXOlFlzz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tVHXOlFlzz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tVHXOlFlzz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tVHXOlFlzz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tVHXOlFlzz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tVHXOlFlzz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tVHXOlFlzz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tVHXOlFlzz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tVHXOlFlzz .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tVHXOlFlzz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tVHXOlFlzz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tVHXOlFlzz .navbar {
    height: 70px;
  }
  .cid-tVHXOlFlzz .navbar.opened {
    height: auto;
  }
  .cid-tVHXOlFlzz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tVHXOlFlzz .container-fluid {
  padding: 0 1rem !important;
}
.cid-tVHXOlFlzz .navbar-collapse {
  width: 75%;
}
@media (max-width: 991px) {
  .cid-tVHXOlFlzz .navbar-brand {
    width: auto !important;
    max-width: 80% !important;
  }
  .cid-tVHXOlFlzz .navbar-collapse {
    width: 100%;
  }
  .cid-tVHXOlFlzz .navbar-nav {
    width: 100%;
  }
  .cid-tVHXOlFlzz .navbar-buttons {
    justify-content: center;
    width: 100%;
  }
}
.cid-rGu1lE6miU {
  background-image: url("hkheader-2000x1121-resized-resized-2000x1121.png");
}
.cid-rGu1lE6miU h3 {
  font-family: 'Boldins';
  font-weight: 900;
  position: relative;
  color: #fff;
}
.cid-rGu1lE6miU .btn {
  margin: 0.2rem!important;
}
@media (max-width: 767px) {
  .cid-rGu1lE6miU .container-fluid {
    padding: 0 1rem;
  }
  .cid-rGu1lE6miU p {
    color: #343549;
  }
}
@media (min-width: 767px) {
  .cid-rGu1lE6miU .container-fluid {
    padding: 0 1.8rem;
  }
}
.cid-rGu1lE6miU .mbr-section-subtitle span {
  background-color: #eb96b0;
  padding: 0 1rem;
  border-radius: 5px;
  display: inline-block;
}
.cid-rGu1lE6miU h1 {
  margin-left: -4px;
  margin-bottom: 0.1rem;
}
.cid-rGu1lE6miU p {
  margin-bottom: 1.3rem;
}
.cid-rGu1lE6miU .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-rGu1lE6miU .svg-1 path {
  fill: #ffffff;
}
.cid-rGu1lE6miU .container-fluid {
  max-width: 1200px;
}
.cid-rGu1lE6miU .mbr-arrow {
  position: absolute;
  z-index: 1;
}
.cid-rGu1lE6miU .mbr-text,
.cid-rGu1lE6miU .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-rGu1lE6miU H1 {
  color: #ffffff;
  text-align: center;
}
.cid-rGu1lE6miU .mbr-section-subtitle {
  text-align: center;
}
.cid-tVmzcIWKMG {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tVmzcIWKMG .title__block {
  margin-bottom: 1.5rem;
}
.cid-tVmzcIWKMG .text-top {
  color: #767676;
  margin-top: 2rem;
}
.cid-tVmzcIWKMG .card {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.cid-tVmzcIWKMG .card:hover .card-title {
  color: #f83d72;
}
.cid-tVmzcIWKMG .card-title {
  color: #fa6992;
  transition: 0.4s;
}
.cid-tVmzcIWKMG .item-image {
  margin-right: 1rem;
}
.cid-tVmzcIWKMG .item-image img {
  width: 80px;
}
.cid-tVmzcIWKMG .container-fluid {
  padding: 0 1.5rem;
  max-width: 1200px;
}
@media (max-width: 767px) {
  .cid-tVmzcIWKMG {
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .cid-tVmzcIWKMG .container-fluid {
    padding: 0 1rem;
  }
  .cid-tVmzcIWKMG .card {
    flex-direction: column;
    text-align: center;
  }
  .cid-tVmzcIWKMG .card-title {
    margin-top: 2rem;
  }
  .cid-tVmzcIWKMG .item-image {
    margin-right: 0;
  }
}
.cid-tVmDUA2xBL {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tVmDUA2xBL .row {
  position: relative;
}
.cid-tVmDUA2xBL .row .blur-circle {
  position: absolute;
  top: 25%;
  left: 34%;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  background-image: linear-gradient(90deg, #fac3d3 50%, #ffffff);
  backdrop-filter: blur(10px);
  filter: blur(64px) blur(64px);
}
@media (max-width: 768px) {
  .cid-tVmDUA2xBL .row .blur-circle {
    display: none;
  }
}
.cid-tVmDUA2xBL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVmDUA2xBL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tVmDUA2xBL .row {
  justify-content: center;
}
.cid-tVmDUA2xBL .title-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tVmDUA2xBL .title-wrapper {
    margin-bottom: 32px;
  }
}
.cid-tVmDUA2xBL .title-wrapper .mbr-section-title {
  margin-bottom: 10px;
}
.cid-tVmDUA2xBL .title-wrapper .mbr-section-title span {
  position: relative;
  z-index: 1;
}
.cid-tVmDUA2xBL .title-wrapper .mbr-section-title span::before {
  content: '';
  position: absolute;
  bottom: 22%;
  left: 0;
  width: 100%;
  height: 18px;
  background-color: #ffffff;
  z-index: -1;
}
.cid-tVmDUA2xBL .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tVmDUA2xBL .card {
  position: relative;
  z-index: 1;
  padding: 64px;
  border-radius: 0;
}
.cid-tVmDUA2xBL .card .mbr-card-title {
  margin-bottom: 30px;
}
.cid-tVmDUA2xBL .card .mbr-card-text {
  margin-bottom: 10px;
}
@media (max-width: 568px) {
  .cid-tVmDUA2xBL .card {
    padding: 32px;
  }
}
.cid-tVmDUA2xBL .card.first {
  border-right: 2px solid #111111;
  border-bottom: 2px solid #111111;
  border-bottom-right-radius: 16px;
}
.cid-tVmDUA2xBL .card.last {
  border-left: 2px solid #111111;
  border-top: 2px solid #111111;
  border-top-left-radius: 16px;
}
.cid-tVmDUA2xBL .mbr-section-title {
  color: #fa6992;
  text-align: center;
}
.cid-tVmDUA2xBL .mbr-text {
  color: #111111;
  text-align: center;
}
.cid-tVmDUA2xBL .mbr-card-title {
  color: #111111;
}
.cid-tVmDUA2xBL .mbr-card-text {
  color: #111111;
}
.cid-tVmDUA2xBL .mbr-card-title,
.cid-tVmDUA2xBL .mbr-section-btn {
  color: #444444;
}
.cid-tVmPkwbh4I {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tVmPkwbh4I .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVmPkwbh4I .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tVmPkwbh4I b,
.cid-tVmPkwbh4I strong {
  font-weight: 900;
}
@media (min-width: 992px) {
  .cid-tVmPkwbh4I img {
    padding: 0 4rem;
  }
}
@media (max-width: 992px) {
  .cid-tVmPkwbh4I img {
    padding-bottom: 2rem;
  }
}
.cid-tVmPkwbh4I .row {
  align-items: center;
}
.cid-tVmPkwbh4I .mbr-section-title {
  color: #fa6992;
}
.cid-tVmPkwbh4I .mbr-text,
.cid-tVmPkwbh4I .mbr-section-btn {
  color: #000000;
}
.cid-tVmPkwbh4I .mbr-section-subtitle {
  color: #17003b;
}
.cid-tVmNHeFYOk {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tVmNHeFYOk .mbr-section-head {
  width: 100%;
  padding-bottom: 40px;
}
.cid-tVmNHeFYOk .mbr-section-title {
  color: #C4CFDE;
}
.cid-tVmNHeFYOk .mbr-section-subtitle {
  color: #FF014E;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .cid-tVmNHeFYOk .mbr-section-subtitle {
    margin-top: 10px;
  }
}
.cid-tVmNHeFYOk .card {
  margin-bottom: 30px;
}
.cid-tVmNHeFYOk img {
  width: auto;
  max-height: 100px;
  max-width: 100%;
  margin: auto;
}
.cid-tVDf5MxucH {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tVDf5MxucH .card {
  width: 100%;
}
.cid-tVDf5MxucH .card .add__block {
  display: none;
}
.cid-tVDf5MxucH .add__block {
  margin-top: 35px;
}
.cid-tVDf5MxucH .add__block .add__block_image {
  width: 170px;
}
.cid-tVDf5MxucH .add__block .add__block_image img {
  width: 100%;
  border-radius: 6px;
}
.cid-tVDf5MxucH .add__block .add__block_content {
  margin-left: 30px;
  max-width: 270px;
}
.cid-tVDf5MxucH .add__block .add__block_title {
  margin-bottom: 0;
}
.cid-tVDf5MxucH .add__block .add__block_text {
  margin-top: 15px;
  margin-bottom: 0;
  color: #919dab;
}
.cid-tVDf5MxucH .row {
  margin: 0;
}
.cid-tVDf5MxucH .mbr-section-title {
  margin-bottom: 0;
  text-align: center;
  color: #fa6992;
}
.cid-tVDf5MxucH .step-container {
  margin-top: 25px;
}
.cid-tVDf5MxucH .padding__bot {
  padding-bottom: 50px;
}
.cid-tVDf5MxucH .step-text-content {
  padding-top: 10px;
}
.cid-tVDf5MxucH .mbr-step-title {
  margin-bottom: 0;
  font-weight: 500;
  color: #70747f;
}
.cid-tVDf5MxucH .mbr-step-text {
  margin-bottom: 5px;
  margin-top: 20px;
  color: #000000;
  line-height: 1.5;
}
.cid-tVDf5MxucH .mbr-section-btn {
  margin-top: 20px;
}
.cid-tVDf5MxucH .mbr-section-btn .btn {
  font-weight: 500;
}
.cid-tVDf5MxucH .step {
  display: flex;
  width: 40px;
  height: 40px;
  font-size: calc((20px) - 2px);
  margin-bottom: 14%;
  border-radius: 50%;
  border: 2px solid #f83d72;
  background-color: #f83d72;
  font-weight: 500;
  color: #ffffff;
}
@media (min-width: 400px) {
  .cid-tVDf5MxucH .add__block {
    display: flex;
  }
  .cid-tVDf5MxucH .step-element {
    display: flex;
  }
  .cid-tVDf5MxucH .mbr-section-btn {
    margin-top: 20px;
    margin-left: calc((20 * 2px) + 70px);
  }
  .cid-tVDf5MxucH .mbr-section-btn .btn {
    margin-left: 0;
  }
  .cid-tVDf5MxucH .separline {
    position: relative;
  }
  .cid-tVDf5MxucH .separline:after {
    top: 40px;
    left: 18px;
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - (20px) * 2);
    background-color: #f83d72;
  }
  .cid-tVDf5MxucH .step-text-content {
    margin-left: 70px;
  }
}
@media (max-width: 400px) {
  .cid-tVDf5MxucH .add__block_title {
    margin-top: 30px;
  }
  .cid-tVDf5MxucH .add__block .add__block_content {
    margin-left: 0;
  }
}
.cid-tVDf5MxucH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tVDf5MxucH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tVmKDEsad7 {
  padding-top: 22px;
  padding-bottom: 132px;
  text-decoration: none;
  background-image: url("hkbar-2000x422-resized-2000x422.png");
}
.cid-tVmKDEsad7 .mbr-section-subtitle {
  color: #4f87fb;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 2px;
}
.cid-tVmKDEsad7 .mbr-section-title {
  color: #130947;
  font-weight: 900;
}
.cid-tVmKDEsad7 .mbr-section-title .accent-word {
  color: #4f87fb;
}
.cid-tVmKDEsad7 .mbr-text {
  color: #6d7a8c;
}
.cid-tVmKDEsad7 .content-link {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: #130947;
}
.cid-tVmKDEsad7 .content-link span {
  margin-right: 15px;
  margin-left: 20px;
  padding: 13px;
  border-radius: 100%;
  color: #4f87fb;
  background-color: #ffffff;
  font-size: 2.275rem;
}
.cid-tVmKDEsad7 .separator {
  margin-top: -15px;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}
.cid-tVmKDEsad7 .separator .sep-holder {
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  width: 62%;
}
.cid-tVmKDEsad7 .separator .sep-holder .sep-line {
  border-color: #d05f00 !important;
  border-top-width: 5px;
  height: 1px;
  border-top: 5px solid #d05f00;
  position: relative;
  top: 1px;
  width: 62%;
}
.cid-tVmKDEsad7 .mbr-section-btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}
.cid-tVmKDEsad7 .mbr-section-btn .btn {
  border-radius: 4px;
  margin: 0.4rem 0.6rem 0.4rem 0 !important;
  padding: 15px 40px;
}
.cid-tVmKDEsad7 .mbr-section-btn .btn.display-4 {
  line-height: 2;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 13px;
}
@media (max-width: 991px) {
  .cid-tVmKDEsad7 .separator,
  .cid-tVmKDEsad7 .sep-holder,
  .cid-tVmKDEsad7 .sep-line {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .cid-tVmKDEsad7 .mbr-section-btn {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.cid-tVmKDEsad7 .mbr-section-title,
.cid-tVmKDEsad7 .separator,
.cid-tVmKDEsad7 .sep-holder {
  color: #ffffff;
  text-align: center;
}
.cid-tVmKDEsad7 .mbr-text,
.cid-tVmKDEsad7 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-tVmOCVtZoj {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-tVmOCVtZoj .media-container-row .mbr-text {
  color: #000000;
}
